doctype html
html
  head
    title= "Bienvenido A Velocity Systems"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src="/socket.io/socket.io.js")
    script(type='text/javascript', src='javascripts/login.js')
  body
    block content
